<% include ../partials/header %>

<h1><%=movie.name%></h1>
<em><p>Submitted by <%=movie.author.username%></p></em>
<img style="width:200px; height:300px;" src = "<%= movie.image%>">


<a class = "btn btn-warning" href="/movies/<%=movie._id%>/edit">Edit</a>
<form style="display:inline" action = "/movies/<%= movie._id%>?_method=DELETE" method = "POST">
    <button class = "btn btn-danger">Delete</button>
</form>


<p><%= movie.description %></p>
<p><a class = "btn btn-success" href = "/movies/<%= movie._id %>/comments/new">Add New Comment</a></p>

<% movie.comments.forEach((comment)=>{ %>
    <p> 
        <strong><%= comment.author.username%> </strong> - <%= comment.text %>
    </p>
<% }); %>
</div>
<% include ../partials/footer %>